{% extends 'WarsztatBundle:Main:Base.html.twig' %}

{% block title %}Dostawcy{% endblock %}

{% block content %}
<h1>Lista dostawców</h1>

{% include 'WarsztatBundle:Dostawca:List.html.twig' %}

{% endblock %}
