{% extends 'WarsztatBundle:Main:Base.html.twig' %}

{% block title %}Klient{% endblock %}

{% block content %}
<h1>Szczegóły klienta</h1>

<a href="{{ path('klient_edit', {'id': klient.id}) }}">(edytuj)</a>

<table>
    {% include 'WarsztatBundle:Klient:Row.html.twig' %}
</table>

<h2>Zlecenia wykonane dla klienta</h2>

<a href="{{ path('zlecenie_new', {'klient': klient.id, 'pojazd': zlecenia|last.pojazd.id|default}) }}">(nowe)</a>

{% include 'WarsztatBundle:Zlecenie:List.html.twig' %}

{% endblock %}
