{% extends 'WarsztatBundle:Main:Base.html.twig' %}

{% block title %}Zadania{% endblock %}

{% block content %}
<h1>Lista zadań</h1>

<table>
    {% include 'WarsztatBundle:Zadanie:Row.html.twig' %}
</table>

<h2>Wykorzystanie części</h2>

{% include 'WarsztatBundle:Czesc:List.html.twig' %}

{% endblock %}
