{% extends 'WarsztatBundle:Main:Base.html.twig' %}

{% block title %}Zadania{% endblock %}

{% block content %}
<h1>Lista zadań</h1>

{% include 'WarsztatBundle:Zadanie:List.html.twig' %}

{% endblock %}
