{% extends 'WarsztatBundle:Main:Base.html.twig' %}

{% block title %}Pojazd{% endblock %}

{% block content %}
<h1>Szczegóły pojazdu</h1>

<a href="{{ path('pojazd_edit', {'id': pojazd.id}) }}">(edytuj)</a>

<table>
    {% include 'WarsztatBundle:Pojazd:Row.html.twig' %}
</table>

<h2>Zlecenia dotyczące pojazdu</h2>

<a href="{{ path('zlecenie_new', {'pojazd': pojazd.id, 'klient': zlecenia|last.klient.id|default}) }}">(nowe)</a>

{% include 'WarsztatBundle:Zlecenie:List.html.twig' %}

{% endblock %}
